In [1]:
import pandas as pd
import numpy as np

In [2]:
df =pd.read_csv("C:/Users/akash/Datasets/IRIS.csv")

In [3]:
df

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [4]:
print(df.groupby('species').mean())

                 sepal_length  sepal_width  petal_length  petal_width
species
Iris-setosa             5.006        3.418         1.464        0.244
Iris-versicolor         5.936        2.770         4.260        1.326
Iris-virginica          6.588        2.974         5.552        2.026

In [5]:
print(df.groupby('species').min())

                 sepal_length  sepal_width  petal_length  petal_width
species
Iris-setosa               4.3          2.3           1.0          0.1
Iris-versicolor           4.9          2.0           3.0          1.0
Iris-virginica            4.9          2.2           4.5          1.4

In [6]:
print(df.groupby('species').max())

                 sepal_length  sepal_width  petal_length  petal_width
species
Iris-setosa               5.8          4.4           1.9          0.6
Iris-versicolor           7.0          3.4           5.1          1.8
Iris-virginica            7.9          3.8           6.9          2.5

In [7]:
print(df.groupby('species').std())

                 sepal_length  sepal_width  petal_length  petal_width
species
Iris-setosa          0.352490     0.381024      0.173511     0.107210
Iris-versicolor      0.516171     0.313798      0.469911     0.197753
Iris-virginica       0.635880     0.322497      0.551895     0.274650

In [8]:
print(df.groupby('species').median())

                 sepal_length  sepal_width  petal_length  petal_width
species
Iris-setosa               5.0          3.4          1.50          0.2
Iris-versicolor           5.9          2.8          4.35          1.3
Iris-virginica            6.5          3.0          5.55          2.0

In [10]:
val=pd.get_dummies(df.species)
val

     Iris-setosa  Iris-versicolor  Iris-virginica
0              1                0               0
1              1                0               0
2              1                0               0
3              1                0               0
4              1                0               0
..           ...              ...             ...
145            0                0               1
146            0                0               1
147            0                0               1
148            0                0               1
149            0                0               1

[150 rows x 3 columns]

In [12]:
val.mean()

Iris-setosa        0.333333
Iris-versicolor    0.333333
Iris-virginica     0.333333
dtype: float64

In [13]:
val.median()

Iris-setosa        0.0
Iris-versicolor    0.0
Iris-virginica     0.0
dtype: float64

In [14]:
val.min()

Iris-setosa        0
Iris-versicolor    0
Iris-virginica     0
dtype: uint8

In [15]:
val.max()

Iris-setosa        1
Iris-versicolor    1
Iris-virginica     1
dtype: uint8

In [17]:
val.quantile(0.25)

Iris-setosa        0.0
Iris-versicolor    0.0
Iris-virginica     0.0
Name: 0.25, dtype: float64

In [18]:
val.quantile(0.5)

Iris-setosa        0.0
Iris-versicolor    0.0
Iris-virginica     0.0
Name: 0.5, dtype: float64

In [19]:
val.quantile(0.75)

Iris-setosa        1.0
Iris-versicolor    1.0
Iris-virginica     1.0
Name: 0.75, dtype: float64

In [20]:
val.quantile(1)

Iris-setosa        1.0
Iris-versicolor    1.0
Iris-virginica     1.0
Name: 1.0, dtype: float64